<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"
  ></script>
    <title>Cart</title>
</head>
<body>
    <h2>Item's in your cart 🛒</h2>

    <div class="d-flex flex-column text-center p-5  bg-success bg-gradient">
        
        <h2 class="mt-3 mb-3">Total:300</h2>
        <h5 class="mb-3">subtotal:300</h5>
        <h5 class="mb-3">tax:0</h5>
    </div>

    <div class="sections container ml-auto">
        <section class="product-section mt-5">
          <div class="row ">
            <div class="col-3" id="product_1">
              <div class="card"  style="width: 18rem">
                <img
                  src="images/bat.jpeg"
                  class="card-img-top rounded-2 p-3"
                  alt="..."
                  height="250px"
                />
                <div class="card-body">
                  <h5 class="card-title">New Balance Bat</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up
                    the bulk of the card's content.
                  </p>
                  
                  <p class="text-succes d-inline font-weight-bold">₹ 20,000</p><span> x4</span>
                  <h4>₹ 80,000</h4>
  
                  <div class="purchase">
                    <a href=""
                      ><img
                        src="/images/cartLogo.png"
                        style="width: 2rem"
                        alt=""
                        srcset=""
                    /></a>
  
                    <a href=""
                      ><img
                        class="ml-4"
                        src="/images/buynow.png"
                        style="width: 3rem"
                        alt=""
                        srcset=""
                    /></a>

                    <img src="/images/remove.png" style="width: 2rem" alt="" srcset="" onclick="removeCart(this)">


                  </div>

              
                </div>
              </div>
            </div>


            <div class="col-3 " id="product_2">
                <div class="card"  style="width: 18rem">
                      <img
                        src="images/bat.jpeg"
                        class="card-img-top rounded-2 p-3"
                        alt="..."
                        height="250px"
                      />
                      <div class="card-body">
                        <h5 class="card-title">New Balance Bat</h5>
                        <p class="card-text">
                          Some quick example text to build on the card title and make up
                          the bulk of the card's content.
                        </p>
                        
                        <p class="text-succes d-inline font-weight-bold">₹ 20,000</p><span> x4</span>
                        <h4>₹ 80,000</h4>
        
                        <div class="purchase">
                          <a href=""
                            ><img
                              src="/images/cartLogo.png"
                              style="width: 2rem"
                              alt=""
                              srcset=""
                          /></a>
        
                          <a href=""
                            ><img
                              class="ml-4"
                              src="/images/buynow.png"
                              style="width: 3rem"
                              alt=""
                              srcset=""
                          /></a>
      
                          <img src="/images/remove.png" style="width: 2rem" alt="" srcset="" onclick="removeCart(this)">
      
      
                        </div>
      
                    
                      </div>
                </div>
            </div>


          </div>
        </section>
      </div>

      <script>

        function removeCart(card){


            console.log( card.parentElement.parentElement.parentElement.parentElement.id);

            const productId=card.parentElement.parentElement.parentElement.parentElement.id
       
            

        }
      </script>
</body>
</html>
